.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    word-break: break-all;
    max-width: 40rem;
    color: white;
    background: $mid-grey;
    text-align: center;
    padding: $size-l;
    outline: none;
}

.modal__title {
    margin: 0 0 $size-s 0;
}

.modal__body {
    margin: 0 0 $size-s 0;
    font-size: 2.4rem;
    font-weight: 300;
}