// Sizes
$size-xs: 1.2rem;
$size-s: 1.6rem;
$size-m: 3.2rem;
$size-l: 4.8rem;

//
$desktop-breakpoint: 45rem;

// Colors

$dark-grey: #242424;
$mid-grey: #383838;
$light-grey: #ABABAB;

$mid-orange: #EE9A00;
